.App {
  text-align: center;
}

.App_nav-container {
  width: 100vw;
  background-color: #666;
}

.App__nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  height: 10vh;
  width: 1000px;
  margin: 0 auto;
  color: #fff;
}

.App__link {
  color: #fff;
  text-decoration: none;
}


