.Board {
  -webkit-box-shadow: 0 0 20px 10px rgb(242, 255, 255);
  box-shadow: 0 0 20px 10px rgb(242, 255, 255);
  margin: 0 auto;
  width: 500px
}

.Board__row {
  width: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  display:flex;
}
