.Board {
  -webkit-box-shadow: 0 0 10px 5px #FFDBFD;
  box-shadow: 0 0 10px 5px #FFDBFD;
  width: 500px
}

.Board__row {
  margin: 0 auto;
  width: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  display:flex;
}
