.Card {
  display: inline-block;
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 7.76px;
  box-shadow: 0px 3px 10px 0px rgba(156,156,156,1);
}

.Card__img-container {
  padding: 20px 30px;
  background-color: #dadada;
}

.Card__name {
  font-weight: 600;
  margin: 20px 0;
  font-size: 2em;
}

.Card__details {
  font-size: 0.8em;
}

.Card__details--span {
  margin: 5px 0;
}
