.ColourPicker__container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  width: 1000px;
  background-color: pink;
  margin: 0 auto;
}
